@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Cavet";
  src: url("assets/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

.role-font-size {
  font-size: clamp(1rem, 0.95rem + 0.3vw, 1.2rem);
  line-height: 1.3;
}
.button-font-size {
  font-size: clamp(0.9rem, 0.85rem +0.2vw, 1rem);
}
.body-font-size {
  font-size: clamp(0.9rem, 0.85rem + 0.25vw, 1rem);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Poppins;
  background-color: hsl(0, 0%, 8%);
  padding-inline: 0.5rem;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-inline-size: 900px;
  margin-inline: auto;
}

.main-profile-card-container > * {
  border-radius: 20px;
}

.main-profile-card-container {
  height: fit-content;
  margin-top: 2rem;
  background-color: hsl(0, 0%, 12%);
  border-left: 2px solid hsl(75, 87%, 91%);
  border-bottom: 2px solid hsl(75, 87%, 91%);
  border-radius: 20px;
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 250px 10px 10px 10px 1fr;
}

@media (min-width: 700px) {
  .main-profile-card-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

/* ----------- overlap styles ------------ */
.user-img {
  grid-row: 1 / 2;
  /* grid-column: 1 / -1; */
}

.profile-card-content-container {
  grid-row: 2 / -1;
  /* grid-column: 1 /-1; */
}

.profile-card-content-container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  color: hsl(0, 0%, 20%);
}

@media (min-width: 700px) {
  .main-profile-card-container {
    grid-template-columns: 1fr 1fr;
  }

  .user-img {
    grid-column: 1 /2;
  }

  .profile-card-content-container {
    grid-column: 2 /-1;
  }
  .user-img,
  .profile-card-content-container {
    grid-row: 1 / 1;
  }
}

.user-img {
  border-radius: 10px;
}

.cta-container {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 1rem;
}
.cta-btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  border: none;
  font-weight: 900;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: hsl(75, 94%, 57%);
  color: white;
  transition: all 250ms ease-in-out;
}
.btn-primary:hover {
  background-color: hsl(75, 90%, 34%);
}
.btn-primary:focus {
  outline: 2px solid hsl(75, 94%, 57%);
  outline-offset: 2px;
}

.btn-secondary {
  outline: 2px solid hsl(75, 94%, 57%);
  background-color: transparent;
  transition: all 250ms ease-in-out;
}
.btn-secondary:hover {
  background-color: hsl(75, 85%, 82%);
  outline: 2px solid hsl(75, 85%, 82%);
}

.user-name-role-container {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 700px) {
  .user-name-role-container {
    align-items: flex-start;
  }
}

.user-name {
  font-family: Cavet;
  text-transform: uppercase;
  line-height: 1;
  color: black;
}

@media (min-width: 700px) {
  .user-name {
    font-size: 3.1rem;
  }
}
.user-role {
  color: hsl(75, 94%, 57%);
  font-weight: 900;
}

.socials-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.socials-icon {
  width: 30px;
  aspect-ratio: 1/1;
  transition: all 250ms ease-in-out;
}

.socials-icon:hover {
  transform: translateY(-5px);
}

/* ------------------------------GALLERY MODAL STYLES---------------------------- */

html {
  scrollbar-gutter: stable;
}

html:has(.gallery-dialog[open]) {
  overflow: hidden;
}

.gallery-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.gallery-dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.gallery-dialog {
  margin: auto;
  max-inline-size: 500px;
  height: fit-content;
  background-color: hsl(0, 0%, 12%);
  border: none;
  border-radius: 10px;
}

.modal-close-btn {
  align-self: flex-end;
  width: 30px;
  aspect-ratio: 1/1;
  background-color: transparent;
  background-image: url("assets/images/icon-close.svg");
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
}
.modal-img-gallary-container {
  margin: auto;
  /* outline: 2px solid red; */
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  gap: 1rem;
  display: grid;
}

.img-container {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img1 {
  background-image: url("assets/images/img1.jpg");
}
.img2 {
  background-image: url("assets/images/img8.jpg");
}
.img3 {
  background-image: url("assets/images/img3.jpg");
}
.img4 {
  background-image: url("assets/images/img4.jpg");
}

@media (min-width: 500px) {
  .modal-img-gallary-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "img3 img1"
      "img2 img4";
  }

  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img4 {
    grid-area: img4;
  }
}

.modal-img-gallary-container > .img-container {
  border-radius: 10px;
  width: 200px;
  aspect-ratio: 1 /1;
}
